[Unit]
Description=systek manage your server
After=network.target

[Service]
User=root
Group=
WorkingDirectory=/chemin/vers/votre/script
ExecStart=/chemin/vers/votre/script/your_script.py
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
